body{
	margin : 0;
	font-family : Arial,Helvetica,freesans,sans-serif;
	background-color: #DCEAF3;
}

/* for  template.html */
#left_content_template{
	background-color : white;
	height : 520px;
	width : 930px;
	position: relative;
	left : 160px;
	top : -45px;
}

.news_width_template p{
	font-size: 13px; 
}

.news_width_template{
	position: relative;
	padding-top : 2px;
	padding-right : 20px;
	left : 15px;  
	top : -12px;
}
/* for template.html ends*/

.hover_links{
	color : #1efefe;
	font-weight: bold ; 
	text-decoration: none;
}

.hover_links a:hover{
	color : #1efefe;
	font-weight: bold ; 
	text-decoration: underline;
}

.hover_links a{
	color : white;
	text-decoration: none;
}

#left_content_pages{	
	background-color : white;
	height : 520px;
	width : 930px;
	position: relative;
	left : 160px;
	top : -45px;
}

#footer_links ul li a:hover{
	color : #1efefe;
}

#footer_links li::before{
	/*for the divider*/
	content: "|" ;
	padding : 0 10px 0 10px;
}

#footer_links li:first-child:before {
	content: none;
}

#footer_links ul li a{
	text-decoration: none;
	color : white;
}

#footer_links li{
	list-style-type: none ; 
	font-weight: bold ;
	display: inline;
	position: relative;
	display: inline ; 
	left: 360px;
	top: 20px;
}

#left_footer_content{
	font-size : 16px;
	float : center ;
	position: relative;
	font-weight: bold ; 
	top : 19px;
	left : 315px;
}

#footer_width{
	/*background-color: red ; */
	margin : 0 auto ;	
	width : 1000px;
}

#footer{
	position: relative;
	background-color: #1790CF; 	/*#00273D*/ /*this is the 2nd header topbar color*/
	height :90px;
	width : 100%;
	color : white;
	border-bottom: 3px solid #3399FF ;
	border-right : 1px solid #3399FF;
}

#right_content_contact a:hover{
	text-decoration: underline;
	font-size: 12px;
	color : blue;
}

#right_content_contact p{
	font-size: 12px;
	position: relative;
	bottom : 15px;
}

#right_content_contact a{
	font-size: 12px;
	text-decoration: none;
}

#right_content_contact{
	background-color : white ;
	position: relative;
	float : right;
	width: 363px;
	height : 100px;
	top : 315px;
	left : 151px;
}

.right_content_width h1{
	color : #646464;
	font-size : 20px;
	/*padding : 5px;*/
	position: relative;
	top: 12px;
}

.right_content_width a:hover{
	text-decoration: underline;
}

.right_content_width a{
	text-decoration: none; 
	color : #013452;
	font-size: 18px;
}

.right_content_width{
	position: relative;
	padding-top : 2px;
	padding-right : 20px;
	left : 15px;
	top : -12px;	
}

.right_content{
	background-color : white ;
	position: relative;
	float : right;
	width: 364px;
	height : 345px;
	right: 213px;
	bottom: 45px;
}

#footer_border{
	border : 1px solid #BDBDBD;
	clear : both ; 
	width: 100%
}

#back_to_top a:hover{
	background-color: #646464;
}

#back_to_top{
	position: relative;
	float :right;
	bottom: 5px;
	right : -5px;
}	

.blue_headings ul li{
	list-style-type: none ; 
}

.bottom_border2{
	position: relative;
	border-bottom: 1px solid #C0C0C0 ;
	top :16px;
	right: 5px;
}

.news_heading2{
	font-weight: bold ; 
	font-size: 16px;
	position: relative;
	top : 30px;
}

.blue{
	color: #307398;
	font-weight: bold ; 
}

.news_width p{
	font-size: 13px; 
}

.news_width{
	position: relative;
	padding-top : 2px;
	padding-right : 20px;
	left : 15px;
	top : -12px;
}

.news_heading{
	font-weight: bold ; 
	font-size: 16px;
}

.bottom_border{
	border-bottom: 1px solid #C0C0C0 ;
	position: relative;
	top : -25px;
}

#heading{
	font-weight: bold;
	font-size: 15px;
	position: relative;
	padding-top : 2px;
	left : 15px;
	top : -12px;
}

/*
.selected{
	background-color: white ; 
	border-bottom : 2px solid white;
	border-top : 2.3px solid white;
	position: relative; 
	float : left;
	top : -1px;
	left: -2px;
	height : 23px;
	width: 115px;
}*/

#left_content{
	background-color : white;
	height : 520px;
	width : 550px;
	position: relative;
	left : 160px;
	top : -45px;
}

.selected_text{
	font-weight: bold;
	color: bold !important;
}

#newsbar_menu{
	background-color : #005383;
	height : 35px;
	width : 930px;
	position: relative;
	left : 160px;
	top : -58.8px;
}

#newsbar_menu ul li a:hover{
	color : #1efefe;
	text-decoration: underline;
}

#newsbar_menu ul li a{
	color : white;
	text-decoration: none;
}

#newsbar_menu ul li{
	list-style: none ;
	color : white;
	font-family : Arial,Helvetica,freesans,sans-serif;
	font-weight: bold;
	position: relative;
	right: 24px;
	float: left;
	/*padding now*/
	padding : 9px 6px 0 0 ;
}

#newsbar_menu li::before{
	/*for the divider*/
	content: "|" ;
	padding : 0 10px 0 10px;
}

#newsbar_menu li:first-child:before {
	content: none;
}

#newsbar h1{
	position: relative ; 
	top : 10px;
	padding-left: 8.6px;
	font-size : 45px;
}

#newsbar{
	position: relative;
	top : -43px;
	background-color: #1790CF;
	height :70px;
	width : 100%;
	color : white;
	border-bottom: 3px solid #3399FF ;
	border-right : 1px solid #3399FF;
	/*background-image: url("images/background.gif");
	background-repeat: no-repeat;	
	background-position: 155px 1px;*/
	/*
	the background image is not coming in proportions 
	will check it out later
	*/
}

#rss{
	float : right;
	position: relative;
	right: 212px;
}

.clearit{
	clear:both;
}


.semi_heading{
	/*font-weight: bold ; */
	color : #E0F4FF;
	font-size: 33px ;
	padding-left : 7px;
}


#searchbar{
	position: relative;
	top : 11px;
	left : 30px;
	float :left;
}

#searchbar input {
	width : 180px;
	height : 22px;
	font-weight: bold ;
	border : none;
	padding : 8px ;
	background-image: url("images/search_img.png");
	background-repeat: no-repeat;
	background-position: 155px 1px;
}

/*for changing the color of the placholder text in the search menu bar */
::-webkit-input-placeholder {
   color: #1A0000;
}

#topmenu{
	text-decoration: none;
	border-right : 1px solid #3399FF;
	float : left;
	position: relative;	
	top : -5px;
}

#topmenu ul{
	float :left ;
}

#topmenu li{
	list-style: none;
	color : white ;
	font-weight: bold; 
	padding : 0 27px 0 0;
	position: relative;
	top : 4px;
	float : left;
	font-size : 0.9em;
}

#logo_padding{
	/*padding : 8px ;*/
	position: relative;
	top : 4px;
	float : left;
	border-right : 1px solid #3399FF;
	padding-right: 10px;
}

#signin_text a:hover{
	color : #1efefe;
	font-weight: bold ; 
	text-decoration: underline;	
}

#signin_text a{
	color : white;
	text-decoration: none;
}

#signin img{
	position: relative;
	top : 13px;
}

#signin_text{
	position: relative;
	top :8px;
	font-size : 0.9em;
	font-weight: bold;
}

#signin{
	position: relative ; 
	padding: 10px 85px 20px 5px;
	float : left;
	top: -12px;
	right : -10px;
	border-right : 1px solid #3399FF;
}

.fixed_width{
	height :30px;
	width: 1000px;
	margin : 0 auto ;
}

#topbar{
	background-color: #1272A4;
	height :43px;
	width : 100%;
	color : white;
	border-bottom: 2px solid #3399FF ;
	border-right : 1px solid #3399FF;
}